

@import './fonts/persian/iranYekan/iranYekan.css';
@import './fonts/persian/notoNaskh/notoNaskh.css';
@import './fonts/persian/yekanBakh/fontiran.css';

@import "tailwindcss";

@import './index.css';

