

@import './fonts/persian/iranYekan/iranYekan.css';
@import './fonts/persian/notoNaskh/notoNaskh.css';
@import './fonts/persian/yekanBakh/fontiran.css';

@import "tailwindcss";

@import './index.css';

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

