@font-face {
  font-family: notoNaskh;
  src: url('NotoNaskh-Regular-FD.woff2') format('woff2');
  font-weight: 100 400;
  font-display: swap;
}

@font-face {
  font-family: notoNaskh;
  src: url('NotoNaskh-Medium-FD.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: notoNaskh;
  src: url('NotoNaskh-SemiBold-FD.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: notoNaskh;
  src: url('NotoNaskh-Bold-FD.woff2') format('woff2');
  font-weight: 700 900;
  font-display: swap;
}

@font-face {
  font-family: notoNaskh-en-number;
  src: url('NotoNaskh-Regular.woff2') format('woff2');
  font-weight: 100 400;
  unicode-range: U+0030-0039;
  font-display: swap;
}

@font-face {
  font-family: notoNaskh-en-number;
  src: url('NotoNaskh-Medium.woff2') format('woff2');
  font-weight: 500;
  unicode-range: U+0030-0039;
  font-display: swap;
}

@font-face {
  font-family: notoNaskh-en-number;
  src: url('NotoNaskh-SemiBold.woff2') format('woff2');
  font-weight: 600;
  unicode-range: U+0030-0039;
  font-display: swap;
}

@font-face {
  font-family: notoNaskh-en-number;
  src: url('NotoNaskh-Bold.woff2') format('woff2');
  font-weight: 700 900;
  unicode-range: U+0030-0039;
  font-display: swap;
}