@font-face {
  font-family: arabicNotoNaskh;
  src: url('NotoNaskhArabic-Regular-AD.woff2') format('woff2');
  font-weight: 100 400;
  font-display: swap;
}

@font-face {
  font-family: arabicNotoNaskh;
  src: url('NotoNaskhArabic-Medium-AD.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: arabicNotoNaskh;
  src: url('NotoNaskhArabic-SemiBold-AD.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: arabicNotoNaskh;
  src: url('NotoNaskhArabic-Bold-AD.woff2') format('woff2');
  font-weight: 700 900;
  font-display: swap;
}

@font-face {
  font-family: arabicNotoNaskh-en-number;
  src: url('NotoNaskhArabic-Regular.woff2') format('woff2');
  font-weight: 100 400;
  unicode-range: U+0030-0039;
  font-display: swap;
}

@font-face {
  font-family: arabicNotoNaskh-en-number;
  src: url('NotoNaskhArabic-Medium.woff2') format('woff2');
  font-weight: 500;
  unicode-range: U+0030-0039;
  font-display: swap;
}

@font-face {
  font-family: arabicNotoNaskh-en-number;
  src: url('NotoNaskhArabic-SemiBold.woff2') format('woff2');
  font-weight: 600;
  unicode-range: U+0030-0039;
  font-display: swap;
}

@font-face {
  font-family: arabicNotoNaskh-en-number;
  src: url('NotoNaskhArabic-Bold.woff2') format('woff2');
  font-weight: 700 900;
  unicode-range: U+0030-0039;
  font-display: swap;
}